.apptContainer {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 85vh;
    border-radius: 50px;
    width: 95%;
    max-width: 1245px;
    margin: 10px auto;
    padding: 25px 0;

}