.apptInfos {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 95%;
    margin: 10px auto;
    ;

    .description {
        width: 50%;
    }

    .equipement {
        width: 50%;
    }
}

.apptInfosHeader {
    width: 100%;
    height: 35px;
    background-color: $color-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: white;
    padding-left: 10px;

    font-size: medium;
    font-weight: 400;

    h2 {
        font-size: small;
        font-weight: 600;
    }

    button {
        border: 0px;
        background-color: $color-main;
        color: white;
        margin-right: 40px;
        font-size: larger;
        transition: transform 1s;

        &.rotated {
            transform: rotate(180deg);


        }
    }
}

.description-enter {
    max-height: 0;
    overflow: hidden;
}

.description-enter-active {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.description-exit {
    max-height: 500px;
}

.description-exit-active {
    max-height: 0;
    transition: max-height 1s ease-out;
}

.equipment-enter {
    max-height: 0;
    overflow: hidden;
}

.equipment-enter-active {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.equipment-exit {
    max-height: 500px;
}

.equipment-exit-active {
    max-height: 0;
    transition: max-height 1s ease-out;
}