.apptInfos {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 95%;
    margin: 10px auto;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .description {
        width: 50%;

        @media (max-width: 768px) {
            width: 98%;
            margin: 5px auto;
        }
    }

    .equipement {
        width: 50%;

        @media (max-width: 768px) {
            width: 98%;
            margin: 5px auto;
        }
    }
}

.apptInfosHeader {
    width: 100%;
    height: 35px;
    background-color: $color-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: white;
    padding-left: 10px;

    font-size: medium;
    font-weight: 400;

    h2 {
        font-size: small;
        font-weight: 600;
    }

    button {
        border: 0px;
        background-color: $color-main;
        color: white;
        margin-right: 40px;
        font-size: larger;
        transition: transform 1s;

        &.rotated {
            transform: rotate(180deg);


        }
    }
}

.apptInfosContent {
    background-color: $color-secondary;
    color: $color-main;
    padding: 5px 5px 5px 15px;
    border-radius: 25px;

    ul {
        list-style: none;
    }

}