.banner {
    width: 100%;
    max-width: 100vh;
    height: 240px;
    margin: 0 auto;
    background-image: url("/public/banner.png");
    color: lightgray;
    text-align: center;
    object-fit: cover;

}