.banner {
    width: 95%;
    height: 240px;
    background-image: url("/public/banner1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}