.banner {
    width: 95%;
    max-width: 1245px;
    height: 240px;
    background-image: url("/public/banner1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    border-radius: 25px;
}

.BannerAbout {
    width: 98%;
    margin: 5px auto;
    max-width: 1245px;

    img {
        width: 100%;
        object-fit: fill;
        height: 240px;
    }
}