.carousel-root {
    width: 100%;
    height: 480px;
}


.carousel .carousel-slider {
    height: 480px;
    width: 100%;
    display: flex;
}

.slider-wrapper {
    width: 480px;
    height: 100%;
}

.carousel ul {
    height: 100%;
}

.slide {
    height: 360px;
    width: 100%;
}

.slide img {
    height: 360px;
    object-fit: cover;
}