footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    height: 160px;


    img {
        margin-bottom: 10px;
    }


}