.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-main;
    font-weight: $bold;
    gap: 2rem;
    width: 95%;
    max-width: 1245px;
    margin: 10px auto;
    box-sizing: border-box;
    height: 115px;

    >.active {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
    }

    a {
        text-decoration: none;
        color: $color-main;
    }

    p {
        margin: 0 45px;
        font-size: large;
    }
}

.navbar__logo {
    margin-right: auto;
    height: 7rem;

    img {
        height: 100%;
        object-fit: fill;
    }

}