.description-enter {
    max-height: 0;
    overflow: hidden;
}

.description-enter-active {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.description-exit {
    max-height: 500px;
}

.description-exit-active {
    max-height: 0;
    transition: max-height 1s ease-out;
}

.equipment-enter {
    max-height: 0;
    overflow: hidden;
}

.equipment-enter-active {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.equipment-exit {
    max-height: 500px;
}

.equipment-exit-active {
    max-height: 0;
    transition: max-height 1s ease-out;
}