.apptInfos {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 95%;
    margin: 10px auto;
    margin-bottom: 25px;
    max-width: 1245px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .description {
        width: 100%;
        flex: 1;

        @media (max-width: 768px) {
            width: 98%;
            margin: 5px auto;
        }
    }

    .equipement {
        width: 100%;
        flex: 1;

        @media (max-width: 768px) {
            width: 98%;
            margin: 5px auto;
        }
    }
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.apptInfosHeader {
    width: 100%;
    height: 35px;
    background-color: $color-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: white;
    padding-left: 10px;

    font-size: medium;
    font-weight: 400;

    h2 {
        font-size: small;
        font-weight: 600;
    }

    button {
        border: 0px;
        background-color: $color-main;
        color: white;
        margin-right: 40px;
        font-size: larger;
        transition: transform 1s;

        &.rotated {
            transform: rotate(180deg);


        }
    }
}

.apptInfosContent {
    background-color: $color-secondary;
    color: $color-main;
    border-radius: 25px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;

    ul {
        list-style: none;
    }
}

.apptInfosContent.show {
    height: 140px;
    overflow: auto;
    transform: scale(1);
    opacity: 1;
    transition: transform 1s ease-out, opacity 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}