.apptContainer {
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    border-radius: 50px;
    width: 95%;
    max-width: 1245px;
    margin: 10px auto;
    padding: 15px 0;

}

@media (max-width: 768px) {
    .apptContainer {
        flex-direction: column;
        overflow: hidden;
        flex-wrap: nowrap;
        height: auto;
        gap: 15px;
    }
}