* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

$color-main: #ff6060;
$color-secondary: rgb(238, 238, 238);
$bold: 700;
$normal: 500;
$light: 400;